

NET "leds[7]" LOC = AE24;
NET "leds[6]" LOC = AD24;
NET "leds[5]" LOC = AD25;
NET "leds[4]" LOC = G16;
NET "leds[3]" LOC = AD26;
NET "leds[2]" LOC = G15;
NET "leds[1]" LOC = L18;
NET "leds[0]" LOC = H18;
NET "clock" LOC = AH17;

# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_2" LOC = H33;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_6" LOC = H34;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_8" LOC = G33;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_10" LOC = G32;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_12" LOC = H32;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_14" LOC = J32;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_16" LOC = J34;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_18" LOC = L33;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_20" LOC = M32;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_22" LOC = P34;
# Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_24" LOC = N34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20 (SYSMON External Input: VAUXP[5]) J6-26
NET "HDR1_26" LOC = AA34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_28" LOC = AD32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20 (SYSMON External Input: VAUXN[5]) J6-30
NET "HDR1_30" LOC = Y34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_32" LOC = Y32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_34" LOC = W32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_36" LOC = AH34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_38" LOC = AE32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_40" LOC = AG32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_42" LOC = AH32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_44" LOC = AK34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_46" LOC = AK33;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_48" LOC = AJ32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_50" LOC = AK32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_52" LOC = AL34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_54" LOC = AL33;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_56" LOC = AM33;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_58" LOC = AJ34;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_60" LOC = AM32;
# Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET "HDR1_64" LOC = AN33;

# PlanAhead Generated physical constraints 

NET "switches[7]" LOC = AC24;
NET "switches[6]" LOC = AC25;
NET "switches[5]" LOC = AE26;
NET "switches[4]" LOC = AE27;
NET "switches[3]" LOC = AF26;
NET "switches[2]" LOC = AF25;
NET "switches[1]" LOC = AG27;
NET "switches[0]" LOC = U25;
