//! **************************************************************************
// Written by: Map P.40xd on Sat Oct 12 14:28:19 2013
//! **************************************************************************

SCHEMATIC START;
COMP "leds<7>" LOCATE = SITE "AE24" LEVEL 1;
COMP "clock" LOCATE = SITE "AH17" LEVEL 1;
COMP "switches<0>" LOCATE = SITE "U25" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "AG27" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "AF25" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "AF26" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "AE27" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "AE26" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "AC25" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "AC24" LEVEL 1;
COMP "HDR1_10" LOCATE = SITE "G32" LEVEL 1;
COMP "HDR1_20" LOCATE = SITE "M32" LEVEL 1;
COMP "HDR1_12" LOCATE = SITE "H32" LEVEL 1;
COMP "HDR1_30" LOCATE = SITE "Y34" LEVEL 1;
COMP "HDR1_22" LOCATE = SITE "P34" LEVEL 1;
COMP "HDR1_14" LOCATE = SITE "J32" LEVEL 1;
COMP "HDR1_40" LOCATE = SITE "AG32" LEVEL 1;
COMP "HDR1_32" LOCATE = SITE "Y32" LEVEL 1;
COMP "HDR1_24" LOCATE = SITE "N34" LEVEL 1;
COMP "HDR1_16" LOCATE = SITE "J34" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "H18" LEVEL 1;
COMP "HDR1_50" LOCATE = SITE "AK32" LEVEL 1;
COMP "HDR1_42" LOCATE = SITE "AH32" LEVEL 1;
COMP "HDR1_34" LOCATE = SITE "W32" LEVEL 1;
COMP "HDR1_26" LOCATE = SITE "AA34" LEVEL 1;
COMP "HDR1_18" LOCATE = SITE "L33" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "HDR1_60" LOCATE = SITE "AM32" LEVEL 1;
COMP "HDR1_52" LOCATE = SITE "AL34" LEVEL 1;
COMP "HDR1_44" LOCATE = SITE "AK34" LEVEL 1;
COMP "HDR1_36" LOCATE = SITE "AH34" LEVEL 1;
COMP "HDR1_28" LOCATE = SITE "AD32" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "HDR1_54" LOCATE = SITE "AL33" LEVEL 1;
COMP "HDR1_46" LOCATE = SITE "AK33" LEVEL 1;
COMP "HDR1_38" LOCATE = SITE "AE32" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "AD26" LEVEL 1;
COMP "HDR1_64" LOCATE = SITE "AN33" LEVEL 1;
COMP "HDR1_56" LOCATE = SITE "AM33" LEVEL 1;
COMP "HDR1_48" LOCATE = SITE "AJ32" LEVEL 1;
COMP "HDR1_2" LOCATE = SITE "H33" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "G16" LEVEL 1;
COMP "HDR1_58" LOCATE = SITE "AJ34" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "AD25" LEVEL 1;
COMP "HDR1_6" LOCATE = SITE "H34" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "AD24" LEVEL 1;
COMP "HDR1_8" LOCATE = SITE "G33" LEVEL 1;
SCHEMATIC END;

