GPU/_ngo/
GPU/_xmsgs/ngdbuild.xmsgs
GPU/_xmsgs/xst.xmsgs
GPU/gpu_top.bld
GPU/gpu_top.cmd_log
GPU/gpu_top.lso
GPU/gpu_top.ngc
GPU/gpu_top.ngr
GPU/gpu_top.prj
GPU/gpu_top.stx
GPU/gpu_top.syr
GPU/gpu_top.xst
GPU/gpu_top_envsettings.html
GPU/gpu_top_ngdbuild.xrpt
GPU/gpu_top_summary.html
GPU/gpu_top_xst.xrpt
GPU/ipcore_dir/OAM.ncf
GPU/ipcore_dir/VRAM.ncf
GPU/iseconfig/gpu_top.xreport
GPU/webtalk_pn.xml
GPU/xst/
cpu/cpusynth/_xmsgs/pn_parser.xmsgs
cpu/cpusynth/cpusynth.gise
cpu/cpusynth/iseconfig/lcd_top.xreport
cpu/cpusynth/lcd_top_clkrgnrpt.xrpt
cpu/cpusynth/lcd_top_envsettings.html
cpu/cpusynth/lcd_top_summary.html
cpu/cpusynth/usage_statistics_webtalk.html
cpu/cpusynth/xst/work/vlg12/
cpu/cpusynth/xst/work/vlg13/my__clock__divider.bin
cpu/cpusynth/xst/work/vlg18/
cpu/cpusynth/xst/work/vlg1A/
cpu/cpusynth/xst/work/vlg1C/
cpu/cpusynth/xst/work/vlg20/
cpu/cpusynth/xst/work/vlg38/
cpu/cpusynth/xst/work/vlg39/
cpu/cpusynth/xst/work/vlg3A/clk31p5__dcm.bin
cpu/cpusynth/xst/work/vlg3A/ddr2__idelay__ctrl__mod.bin
cpu/cpusynth/xst/work/vlg40/
cpu/cpusynth/xst/work/vlg46/
cpu/cpusynth/xst/work/vlg48/
cpu/cpusynth/xst/work/vlg49/
cpu/cpusynth/xst/work/vlg4A/
cpu/cpusynth/xst/work/vlg4B/
cpu/cpusynth/xst/work/vlg53/
cpu/cpusynth/xst/work/vlg60/
cpu/cpusynth/xst/work/vlg64/
cpu/cpusynth/xst/work/vlg6D/
cpu/cpusynth/xst/work/vlg70/
cpu/cpusynth/xst/work/vlg76/
GAMEBOY_TOP/GAMEBOY_TOP.gise
GAMEBOY_TOP/GAMEBOY_TOP.xise
GAMEBOY_TOP/_xmsgs/pn_parser.xmsgs
GAMEBOY_TOP/_xmsgs/xst.xmsgs
GAMEBOY_TOP/ipcore_dir/_xmsgs/pn_parser.xmsgs
GAMEBOY_TOP/lcd_top.cmd_log
GAMEBOY_TOP/lcd_top.stx
GAMEBOY_TOP/lcd_top.syr
GAMEBOY_TOP/lcd_top.xst
GAMEBOY_TOP/lcd_top_envsettings.html
GAMEBOY_TOP/lcd_top_summary.html
GAMEBOY_TOP/lcd_top_xst.xrpt
GAMEBOY_TOP/webtalk_pn.xml
GAMEBOY_TOP/xst/work/hdllib.ref
GAMEBOY_TOP/xst/work/vlg0A/alu.bin
GAMEBOY_TOP/xst/work/vlg0B/mem.bin
GAMEBOY_TOP/xst/work/vlg13/my__clock__divider.bin
GAMEBOY_TOP/xst/work/vlg18/iic__init.bin
GAMEBOY_TOP/xst/work/vlg18/nobus__buffer.bin
GAMEBOY_TOP/xst/work/vlg1A/video__converter.bin
GAMEBOY_TOP/xst/work/vlg1C/_a_c97.bin
GAMEBOY_TOP/xst/work/vlg1E/buffer.bin
GAMEBOY_TOP/xst/work/vlg20/_audio_gen.bin
GAMEBOY_TOP/xst/work/vlg20/timers.bin
GAMEBOY_TOP/xst/work/vlg29/register.bin
GAMEBOY_TOP/xst/work/vlg2C/tristate.bin
GAMEBOY_TOP/xst/work/vlg2F/rn__decode.bin
GAMEBOY_TOP/xst/work/vlg38/frame__buffer.bin
GAMEBOY_TOP/xst/work/vlg39/ugly__setup.bin
GAMEBOY_TOP/xst/work/vlg3A/clk31p5__dcm.bin
GAMEBOY_TOP/xst/work/vlg3A/ddr2__idelay__ctrl__mod.bin
GAMEBOY_TOP/xst/work/vlg40/sound__registers.bin
GAMEBOY_TOP/xst/work/vlg46/dma.bin
GAMEBOY_TOP/xst/work/vlg46/gpu__top.bin
GAMEBOY_TOP/xst/work/vlg48/dvi__module.bin
GAMEBOY_TOP/xst/work/vlg4A/breakpoints.bin
GAMEBOY_TOP/xst/work/vlg4A/sync__gen.bin
GAMEBOY_TOP/xst/work/vlg4B/divider.bin
GAMEBOY_TOP/xst/work/vlg50/cpu.bin
GAMEBOY_TOP/xst/work/vlg50/decode.bin
GAMEBOY_TOP/xst/work/vlg53/ddr2__idelay__ctrl.bin
GAMEBOY_TOP/xst/work/vlg60/_square_wave.bin
GAMEBOY_TOP/xst/work/vlg60/rotary__controller.bin
GAMEBOY_TOP/xst/work/vlg64/audio__top.bin
GAMEBOY_TOP/xst/work/vlg64/scanline__ram.bin
GAMEBOY_TOP/xst/work/vlg64/video__module.bin
GAMEBOY_TOP/xst/work/vlg66/mux.bin
GAMEBOY_TOP/xst/work/vlg67/blockram8192.bin
GAMEBOY_TOP/xst/work/vlg6D/x2__dcm.bin
GAMEBOY_TOP/xst/work/vlg70/_waveform_player.bin
GAMEBOY_TOP/xst/work/vlg72/regfile.bin
GAMEBOY_TOP/xst/work/vlg76/_a_c97_conf.bin
GAMEBOY_TOP/xst/work/vlg76/_a_c_link.bin
cpu/cpusynth/iseconfig/cpusynth.projectmgr
