//! **************************************************************************
// Written by: Map P.40xd on Wed Oct 02 19:52:50 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "AH17" LEVEL 1;
COMP "rotary_inc_a" LOCATE = SITE "AH30" LEVEL 1;
COMP "rotary_inc_b" LOCATE = SITE "AG30" LEVEL 1;
COMP "inca" LOCATE = SITE "H18" LEVEL 1;
COMP "incb" LOCATE = SITE "L18" LEVEL 1;
COMP "level<0>" LOCATE = SITE "AE24" LEVEL 1;
COMP "level<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "level<2>" LOCATE = SITE "AD25" LEVEL 1;
COMP "push" LOCATE = SITE "G15" LEVEL 1;
COMP "level<3>" LOCATE = SITE "G16" LEVEL 1;
COMP "rotary_push" LOCATE = SITE "AH29" LEVEL 1;
SCHEMATIC END;

