
# PlanAhead Generated physical constraints 

NET "clk_in" LOC = AF18;
NET "clock" LOC = AH17;
NET "FF00_data_out<3>" LOC = H18;
NET "FF00_data_out<2>" LOC = L18;
NET "FF00_data_out<1>" LOC = G15;
NET "FF00_data_out<0>" LOC = AD26;
NET "joypad_interrupt" LOC = AE24;
NET "controller_data" LOC = K34;
NET "FF00_data_in<4>" LOC = AC24;
NET "FF00_data_in<5>" LOC = AC25;
NET "strobe" LOC = L34;
NET "clk_out" LOC = K32;
