//! **************************************************************************
// Written by: Map P.40xd on Wed Nov 27 00:36:55 2013
//! **************************************************************************

SCHEMATIC START;
COMP "controller_data" LOCATE = SITE "K34" LEVEL 1;
COMP "clk_out" LOCATE = SITE "K32" LEVEL 1;
COMP "FF00_data_out<0>" LOCATE = SITE "AD26" LEVEL 1;
COMP "FF00_data_out<1>" LOCATE = SITE "G15" LEVEL 1;
COMP "joypad_interrupt" LOCATE = SITE "AE24" LEVEL 1;
COMP "FF00_data_out<2>" LOCATE = SITE "L18" LEVEL 1;
COMP "FF00_data_out<3>" LOCATE = SITE "H18" LEVEL 1;
COMP "strobe" LOCATE = SITE "L34" LEVEL 1;
COMP "clock" LOCATE = SITE "AH17" LEVEL 1;
COMP "FF00_data_in<4>" LOCATE = SITE "AC24" LEVEL 1;
COMP "FF00_data_in<5>" LOCATE = SITE "AC25" LEVEL 1;
COMP "clk_in" LOCATE = SITE "AF18" LEVEL 1;
SCHEMATIC END;

