//! **************************************************************************
// Written by: Map P.40xd on Wed Oct 23 12:42:12 2013
//! **************************************************************************

SCHEMATIC START;
COMP "fclk" LOCATE = SITE "AH15" LEVEL 1;
COMP "fclk_rst_b" LOCATE = SITE "U25" LEVEL 1;
COMP "dvi_sda" LOCATE = SITE "T29" LEVEL 1;
COMP "dvi_de" LOCATE = SITE "AE8" LEVEL 1;
COMP "dvi_reset_b" LOCATE = SITE "AK6" LEVEL 1;
COMP "dvi_scl" LOCATE = SITE "U27" LEVEL 1;
COMP "iic_done" LOCATE = SITE "L18" LEVEL 1;
COMP "dvi_hs" LOCATE = SITE "AM12" LEVEL 1;
COMP "led_out" LOCATE = SITE "H18" LEVEL 1;
COMP "dvi_d<0>" LOCATE = SITE "AB8" LEVEL 1;
COMP "dvi_d<1>" LOCATE = SITE "AC8" LEVEL 1;
COMP "fbclk_ready" LOCATE = SITE "G15" LEVEL 1;
COMP "dvi_d<2>" LOCATE = SITE "AN12" LEVEL 1;
COMP "dvi_d<3>" LOCATE = SITE "AP12" LEVEL 1;
COMP "dvi_d<10>" LOCATE = SITE "AP14" LEVEL 1;
COMP "dvi_xclk_n" LOCATE = SITE "AL10" LEVEL 1;
COMP "dvi_d<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "dvi_d<11>" LOCATE = SITE "AN14" LEVEL 1;
COMP "dvi_xclk_p" LOCATE = SITE "AL11" LEVEL 1;
COMP "dvi_d<5>" LOCATE = SITE "AA8" LEVEL 1;
COMP "dvi_d<6>" LOCATE = SITE "AM13" LEVEL 1;
COMP "dvi_d<7>" LOCATE = SITE "AN13" LEVEL 1;
COMP "dvi_d<8>" LOCATE = SITE "AA10" LEVEL 1;
COMP "dvi_d<9>" LOCATE = SITE "AB10" LEVEL 1;
COMP "dvi_vs" LOCATE = SITE "AM11" LEVEL 1;
TIMEGRP dvi_d = BEL "dvi_d<0>" BEL "dvi_d<10>" BEL "dvi_d<11>" BEL "dvi_d<1>"
        BEL "dvi_d<2>" BEL "dvi_d<3>" BEL "dvi_d<4>" BEL "dvi_d<5>" BEL
        "dvi_d<6>" BEL "dvi_d<7>" BEL "dvi_d<8>" BEL "dvi_d<9>" BEL "dvi_de"
        BEL "dvi_hs" BEL "dvi_reset_b" BEL "dvi_vs";
TIMEGRP dvi_c = BEL "dvi_xclk_n" BEL "dvi_xclk_p";
TS_dvi_setup = MAXDELAY FROM TIMEGRP "dvi_c" TO TIMEGRP "dvi_d" 0.5 ns;
TS_dvi_hold = MAXDELAY FROM TIMEGRP "dvi_d" TO TIMEGRP "dvi_c" 0.5 ns;
SCHEMATIC END;

