//NET "ps2data" LOC="T25" | IOSTANDARD=LVCMOS18;
//NET "ps2clk" LOC="T26" | IOSTANDARD=LVCMOS18;

#NET "ac97_bitclk" LOC="AF18" | TNM_NET = ac97_bitclk | IOSTANDARD=LVCMOS33;
#NET "ac97_sdata_in" LOC="AE18" | IOSTANDARD=LVCMOS33;
#NET "ac97_sdata_out" LOC="AG16" | IOSTANDARD=LVCMOS33;
#NET "ac97_sync" LOC="AF19" | IOSTANDARD=LVCMOS33;
#NET "ac97_reset_b" LOC="AG17" | IOSTANDARD=LVCMOS33;
#TIMESPEC TS_ac97_bitclk = PERIOD "ac97_bitclk" 12.288MHz HIGH 50%;
#
#NET "leds<0>" LOC="H18" | IOSTANDARD=LVCMOS25;
#NET "leds<1>" LOC="L18" | IOSTANDARD=LVCMOS25;
#NET "leds<2>" LOC="G15" | IOSTANDARD=LVCMOS25;
#NET "leds<3>" LOC="AD26" | IOSTANDARD=SSTL18_II_DCI;
#NET "leds<4>" LOC="G16" | IOSTANDARD=LVCMOS25;
#NET "leds<5>" LOC="AD25" | IOSTANDARD=SSTL18_II_DCI;
#NET "leds<6>" LOC="AD24" | IOSTANDARD=SSTL18_II_DCI;
#NET "leds<7>" LOC="AE24" | IOSTANDARD=SSTL18_II_DCI;
#
#NET "lcd_db<3>" LOC="T11" | IOSTANDARD=LVCMOS33;
#NET "lcd_db<2>" LOC="G6" | IOSTANDARD=LVCMOS33;
#NET "lcd_db<1>" LOC="G7" | IOSTANDARD=LVCMOS33;
#NET "lcd_db<0>" LOC="T9" | IOSTANDARD=LVCMOS33;
#NET "lcd_e" LOC="AC9" | IOSTANDARD=LVCMOS33;
#NET "lcd_rnw" LOC="AC10" | IOSTANDARD=LVCMOS33; #sadly, not AC130U
#NET "lcd_rs" LOC="J17" | IOSTANDARD=LVCMOS25;
#
## FPGA south
#NET "corerst_btn" LOC="V8" | IOSTANDARD=LVDCI_33;

NET "dvi_d<11>" LOC="AN14" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<10>" LOC="AP14" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<9>" LOC="AB10" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<8>" LOC="AA10" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<7>" LOC="AN13" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<6>" LOC="AM13" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<5>" LOC="AA8" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<4>" LOC="AA9" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<3>" LOC="AP12" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<2>" LOC="AN12" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<1>" LOC="AC8" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_d<0>" LOC="AB8" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_xclk_p" LOC="AL11" | TNM="dvi_c" | IOSTANDARD=LVDCI_33;
NET "dvi_xclk_n" LOC="AL10" | TNM="dvi_c" | IOSTANDARD=LVDCI_33;
NET "dvi_hs" LOC="AM12" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_vs" LOC="AM11" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_de" LOC="AE8" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;
NET "dvi_reset_b" LOC="AK6" | TNM="dvi_d" | IOSTANDARD=LVDCI_33;

NET "dvi_scl" LOC="u27" | SLEW=fast | PULLUP | IOSTANDARD=SSTL18_II;
NET "dvi_sda" LOC="t29" | SLEW=fast | PULLUP | IOSTANDARD=SSTL18_II;

TIMESPEC "TS_dvi_setup" = FROM dvi_c TO dvi_d 500 ps;
TIMESPEC "TS_dvi_hold" = FROM dvi_d TO dvi_c 500 ps;

NET "fclk_rst_b" LOC = U25 | IOSTANDARD=SSTL18_II;
NET "fclk" LOC = AH15; //USER_CLK (100MHz)
NET "led_out" LOC = H18; //LED0
NET "iic_done" LOC = L18; //LED1
NET "fbclk_ready" LOC = G15; //LED2

#NET sace_mpa<0> LOC=G5 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<1> LOC=N7 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<2> LOC=N5 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<3> LOC=P5 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<4> LOC=R6 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<5> LOC=M6 | IOSTANDARD = LVCMOS33;
#NET sace_mpa<6> LOC=L6 | IOSTANDARD = LVCMOS33;
#NET sace_clk LOC=AH17 | IOSTANDARD = LVCMOS33 | PERIOD = 30000 ps;
#
## NET fpga_0_SysACE_CompactFlash_SysACE_MPIRQ_pin LOC=M7 | IOSTANDARD = LVCMOS33 | TIG;
#NET sace_mpce_n LOC=M5 | IOSTANDARD = LVCMOS33;
#NET sace_mpoe_n LOC=N8 | IOSTANDARD = LVCMOS33;
#NET sace_mpwe_n LOC=R9 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<0> LOC=P9 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<1> LOC=T8 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<2> LOC=J7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<3> LOC=H7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<4> LOC=R7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<5> LOC=U7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<6> LOC=P7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<7> LOC=P6 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<8> LOC=R8 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<9> LOC=L5 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<10> LOC=L4 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<11> LOC=K6 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<12> LOC=J5 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<13> LOC=T6 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<14> LOC=K7 | IOSTANDARD = LVCMOS33;
#NET sace_mpd<15> LOC=J6 | IOSTANDARD = LVCMOS33;
#
#NET usb_cs_n LOC=P10 | IOSTANDARD=LVCMOS33;
#
#NET serial_tx LOC = AG20 | IOSTANDARD=LVCMOS33;
#
###
### Begin import from MIG generated ucf
###

############################################################################
##
## Xilinx, Inc. 2006 www.xilinx.com
## Wed Sep 15 12:00:16 2010
## Generated by MIG Version 3.5
##
############################################################################
## File name : mig.ucf
##
## Details : Constraints file
## FPGA family: virtex5
## FPGA: xc5vlx110t-ff1136
## Speedgrade: -2
## Design Entry: VERILOG
## Design: with Test bench
## DCM Used: Enable
## Two Bytes per Bank:Disable
## No.Of Controllers: 1
##
############################################################################

############################################################################
# Clock constraints #
############################################################################

#NET "mem/the_mig/u_ddr2_infrastructure/sys_clk_ibufg" TNM_NET = "SYS_CLK";
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 8 ns HIGH 50 %;
#
#NET "mem/the_mig/u_ddr2_infrastructure/clk200_ibufg" TNM_NET = "SYS_CLK_200";
#TIMESPEC "TS_SYS_CLK_200" = PERIOD "SYS_CLK_200" 5 ns HIGH 50 %;

#NET "fclk" TNM_NET = "FSABI_CLK";
#TIMESPEC "TS_FSABI_CLK" = PERIOD "FSABI_CLK" 8 ns HIGH 50 %;
#
#NET "cclk" TNM_NET = "MAIN_CLK";
#TIMESPEC "TS_MAIN_CLK" = PERIOD "MAIN_CLK" 16 ns HIGH 50 %;

############################################################################

#NET "dvi_d[11]" LOC = AN14;
#
#
#NET "dvi_d[10]" LOC = AP14;
#NET "dvi_d[9]" LOC = AB10;
#NET "dvi_d[8]" LOC = AA10;
#NET "dvi_d[7]" LOC = AN13;
#NET "dvi_d[6]" LOC = AM13;
#NET "dvi_d[5]" LOC = AA8;
#NET "dvi_d[4]" LOC = AA9;
#NET "dvi_d[3]" LOC = AP12;
#NET "dvi_d[2]" LOC = AN12;
#NET "dvi_d[1]" LOC = AC8;
#NET "dvi_d[0]" LOC = AB8;
#NET "dvi_de" LOC = AE8;
#NET "dvi_hs" LOC = AM12;
#NET "dvi_reset_b" LOC = AK6;
#NET "dvi_scl" LOC = U27;
#NET "dvi_sda" LOC = T29;
#NET "dvi_vs" LOC = AM11;
#NET "dvi_xclk_n" LOC = AL10;
#NET "dvi_xclk_p" LOC = AL11;
#NET "fclk" LOC = AH15;
#//NET "fclk_rst_b" LOC = U25;
#NET "fclk_rst" LOC = U25;

# PlanAhead Generated physical constraints 

//NET "fifo_empty_1a" LOC = AC24;
