NET "rotary_inc_a" LOC = "AH30";
NET "rotary_inc_b" LOC = "AG30";
NET "rotary_inc_a" IOSTANDARD = LVCMOS18;
NET "rotary_inc_b" IOSTANDARD = LVCMOS18;

NET "ac97_bitclk" LOC="AF18" | TNM_NET = ac97_bitclk;
NET "ac97_sdata_in" LOC="AE18";
NET "ac97_sdata_out" LOC="AG16";
NET "ac97_sync" LOC="AF19";
NET "ac97_reset_b" LOC="AG17";
TIMESPEC TS_ac97_bitclk = PERIOD "ac97_bitclk" 12.288MHz HIGH 50%;

