//! **************************************************************************
// Written by: Map P.40xd on Sun Nov 03 20:32:23 2013
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_FPGA_RS" LOCATE = SITE "J17" LEVEL 1;
COMP "LCD_FPGA_RW" LOCATE = SITE "AC10" LEVEL 1;
COMP "flash_a<10>" LOCATE = SITE "H22" LEVEL 1;
COMP "flash_a<11>" LOCATE = SITE "G22" LEVEL 1;
COMP "flash_a<20>" LOCATE = SITE "AE23" LEVEL 1;
COMP "flash_a<12>" LOCATE = SITE "J15" LEVEL 1;
COMP "flash_a<21>" LOCATE = SITE "AE22" LEVEL 1;
COMP "flash_a<13>" LOCATE = SITE "K16" LEVEL 1;
COMP "flash_a<22>" LOCATE = SITE "AE12" LEVEL 1;
COMP "flash_a<14>" LOCATE = SITE "K21" LEVEL 1;
COMP "flash_a<23>" LOCATE = SITE "AE13" LEVEL 1;
COMP "flash_a<15>" LOCATE = SITE "J22" LEVEL 1;
COMP "flash_a<16>" LOCATE = SITE "L16" LEVEL 1;
COMP "flash_a<17>" LOCATE = SITE "L15" LEVEL 1;
COMP "flash_a<18>" LOCATE = SITE "L20" LEVEL 1;
COMP "flash_a<19>" LOCATE = SITE "L21" LEVEL 1;
COMP "flash_d<10>" LOCATE = SITE "AH19" LEVEL 1;
COMP "flash_d<11>" LOCATE = SITE "AH20" LEVEL 1;
COMP "flash_d<12>" LOCATE = SITE "AG13" LEVEL 1;
COMP "flash_d<13>" LOCATE = SITE "AH12" LEVEL 1;
COMP "flash_d<14>" LOCATE = SITE "AH22" LEVEL 1;
COMP "flash_d<15>" LOCATE = SITE "AG22" LEVEL 1;
COMP "LCD_FPGA_DB4" LOCATE = SITE "T9" LEVEL 1;
COMP "LCD_FPGA_DB5" LOCATE = SITE "G7" LEVEL 1;
COMP "LCD_FPGA_DB6" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_FPGA_DB7" LOCATE = SITE "T11" LEVEL 1;
COMP "flash_adv_n" LOCATE = SITE "F13" LEVEL 1;
COMP "flash_clk" LOCATE = SITE "N9" LEVEL 1;
COMP "ac97_bitclk" LOCATE = SITE "AF18" LEVEL 1;
COMP "LCD_FPGA_E" LOCATE = SITE "AC9" LEVEL 1;
COMP "flash_a<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "flash_a<1>" LOCATE = SITE "K13" LEVEL 1;
COMP "flash_a<2>" LOCATE = SITE "H23" LEVEL 1;
COMP "flash_a<3>" LOCATE = SITE "G23" LEVEL 1;
COMP "flash_a<4>" LOCATE = SITE "H12" LEVEL 1;
COMP "flash_a<5>" LOCATE = SITE "J12" LEVEL 1;
COMP "flash_a<6>" LOCATE = SITE "K22" LEVEL 1;
COMP "flash_a<7>" LOCATE = SITE "K23" LEVEL 1;
COMP "flash_a<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "flash_a<9>" LOCATE = SITE "L14" LEVEL 1;
COMP "flash_d<0>" LOCATE = SITE "AD19" LEVEL 1;
COMP "flash_d<1>" LOCATE = SITE "AE19" LEVEL 1;
COMP "flash_d<2>" LOCATE = SITE "AE17" LEVEL 1;
COMP "flash_d<3>" LOCATE = SITE "AF16" LEVEL 1;
COMP "flash_d<4>" LOCATE = SITE "AD20" LEVEL 1;
COMP "flash_d<5>" LOCATE = SITE "AE21" LEVEL 1;
COMP "flash_d<6>" LOCATE = SITE "AE16" LEVEL 1;
COMP "flash_d<7>" LOCATE = SITE "AF15" LEVEL 1;
COMP "flash_d<8>" LOCATE = SITE "AH13" LEVEL 1;
COMP "flash_d<9>" LOCATE = SITE "AH14" LEVEL 1;
COMP "flash_ce_n" LOCATE = SITE "AE14" LEVEL 1;
COMP "flash_oe_n" LOCATE = SITE "AF14" LEVEL 1;
COMP "flash_we_n" LOCATE = SITE "AF20" LEVEL 1;
COMP "flash_wait" LOCATE = SITE "G13" LEVEL 1;
COMP "GPIO_SW_C" LOCATE = SITE "AJ6" LEVEL 1;
COMP "GPIO_SW_E" LOCATE = SITE "AK7" LEVEL 1;
COMP "GPIO_SW_S" LOCATE = SITE "V8" LEVEL 1;
COMP "GPIO_SW_W" LOCATE = SITE "AJ7" LEVEL 1;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B"
        PINNAME CLKAU;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAL;
PIN
        br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>
        = BEL
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T"
        PINNAME CLKAU;
TIMEGRP ac97_bitclk = BEL "cstate_FSM_FFd1" BEL "cstate_FSM_FFd2" BEL
        "cdiv/counter_0" BEL "cdiv/counter_1" BEL "inc_button/state_FSM_FFd2"
        BEL "inc_button/state_FSM_FFd1" BEL "inc_button/count_22" BEL
        "inc_button/count_21" BEL "inc_button/count_20" BEL
        "inc_button/count_19" BEL "inc_button/count_18" BEL
        "inc_button/count_17" BEL "inc_button/count_16" BEL
        "inc_button/count_15" BEL "inc_button/count_14" BEL
        "inc_button/count_13" BEL "inc_button/count_12" BEL
        "inc_button/count_11" BEL "inc_button/count_10" BEL
        "inc_button/count_9" BEL "inc_button/count_8" BEL "inc_button/count_7"
        BEL "inc_button/count_6" BEL "inc_button/count_5" BEL
        "inc_button/count_4" BEL "inc_button/count_3" BEL "inc_button/count_2"
        BEL "inc_button/count_1" BEL "inc_button/count_0" BEL
        "lcd/state_FSM_FFd18" BEL "lcd/state_FSM_FFd17" BEL
        "lcd/state_FSM_FFd16" BEL "lcd/state_FSM_FFd15" BEL
        "lcd/state_FSM_FFd14" BEL "lcd/state_FSM_FFd12" BEL
        "lcd/state_FSM_FFd11" BEL "lcd/state_FSM_FFd13" BEL
        "lcd/state_FSM_FFd10" BEL "lcd/state_FSM_FFd9" BEL
        "lcd/state_FSM_FFd7" BEL "lcd/state_FSM_FFd6" BEL "lcd/state_FSM_FFd8"
        BEL "lcd/state_FSM_FFd5" BEL "lcd/state_FSM_FFd4" BEL
        "lcd/state_FSM_FFd2" BEL "lcd/state_FSM_FFd1" BEL "lcd/state_FSM_FFd3"
        BEL "lcd/count_temp_24" BEL "lcd/count_temp_23" BEL
        "lcd/count_temp_22" BEL "lcd/count_temp_21" BEL "lcd/count_temp_20"
        BEL "lcd/count_temp_19" BEL "lcd/count_temp_18" BEL
        "lcd/count_temp_17" BEL "lcd/count_temp_16" BEL "lcd/count_temp_15"
        BEL "lcd/count_temp_14" BEL "lcd/count_temp_13" BEL
        "lcd/count_temp_12" BEL "lcd/count_temp_11" BEL "lcd/count_temp_10"
        BEL "lcd/count_temp_9" BEL "lcd/count_temp_8" BEL "lcd/count_temp_7"
        BEL "lcd/count_temp_6" BEL "lcd/count_temp_5" BEL "lcd/count_temp_4"
        BEL "lcd/count_temp_3" BEL "lcd/count_temp_2" BEL "lcd/count_temp_1"
        BEL "lcd/count_temp_0" BEL "lcd/count_24" BEL "lcd/count_23" BEL
        "lcd/count_22" BEL "lcd/count_21" BEL "lcd/count_20" BEL
        "lcd/count_19" BEL "lcd/count_18" BEL "lcd/count_17" BEL
        "lcd/count_16" BEL "lcd/count_15" BEL "lcd/count_14" BEL
        "lcd/count_13" BEL "lcd/count_12" BEL "lcd/count_11" BEL
        "lcd/count_10" BEL "lcd/count_9" BEL "lcd/count_8" BEL "lcd/count_7"
        BEL "lcd/count_6" BEL "lcd/count_5" BEL "lcd/count_4" BEL
        "lcd/count_3" BEL "lcd/count_2" BEL "lcd/count_1" BEL "lcd/count_0"
        BEL "sig_disp/count_3" BEL "sig_disp/count_2" BEL "sig_disp/count_1"
        BEL "sig_disp/count_0" BEL "sig_disp/cstate" BEL
        "hex_decoder/state_FSM_FFd2" BEL "hex_decoder/state_FSM_FFd1" BEL
        "lcd/sf_d_3" BEL "lcd/sf_d_2" BEL "lcd/sf_d_1" BEL "lcd/sf_d_0" BEL
        "lcd/state_FSM_FFd19" BEL "ac97_bitclk_BUFGP/BUFG" PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_B_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<66>"
        PIN
        "br/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SP.CASCADED_PRIM36.TDP_T_pins<67>";
TS_ac97_bitclk = PERIOD TIMEGRP "ac97_bitclk" 12.288 MHz HIGH 50%;
SCHEMATIC END;

