
# PlanAhead Generated physical constraints 

NET "clka" LOC = AH15;
NET "douta[7]" LOC = H18;
NET "douta[6]" LOC = L18;
NET "douta[5]" LOC = G15;
NET "douta[4]" LOC = AD26;
NET "douta[3]" LOC = G16;
NET "douta[2]" LOC = AD25;
NET "douta[1]" LOC = AD24;
NET "douta[0]" LOC = AE24;
NET "addra[0]" LOC = AF26;
NET "addra[1]" LOC = AF25;
NET "addra[2]" LOC = AG27;
NET "addra[3]" LOC = U25;
NET "dina[0]" LOC = AC25;
NET "dina[1]" LOC = AE26;
NET "dina[2]" LOC = AE27;
NET "wea" LOC = AC24;
