//! **************************************************************************
// Written by: Map P.40xd on Mon Dec 02 18:52:12 2013
//! **************************************************************************

SCHEMATIC START;
COMP "flash_a<6>" LOCATE = SITE "K22" LEVEL 1;
COMP "LCD_FPGA_RS" LOCATE = SITE "J17" LEVEL 1;
COMP "LCD_FPGA_RW" LOCATE = SITE "AC10" LEVEL 1;
COMP "USER_CLK" LOCATE = SITE "AH15" LEVEL 1;
COMP "flash_a<10>" LOCATE = SITE "H22" LEVEL 1;
COMP "flash_a<11>" LOCATE = SITE "G22" LEVEL 1;
COMP "flash_a<20>" LOCATE = SITE "AE23" LEVEL 1;
COMP "flash_a<12>" LOCATE = SITE "J15" LEVEL 1;
COMP "flash_a<21>" LOCATE = SITE "AE22" LEVEL 1;
COMP "flash_a<13>" LOCATE = SITE "K16" LEVEL 1;
COMP "flash_a<22>" LOCATE = SITE "AE12" LEVEL 1;
COMP "flash_a<14>" LOCATE = SITE "K21" LEVEL 1;
COMP "flash_a<23>" LOCATE = SITE "AE13" LEVEL 1;
COMP "flash_a<15>" LOCATE = SITE "J22" LEVEL 1;
COMP "flash_a<16>" LOCATE = SITE "L16" LEVEL 1;
COMP "flash_a<17>" LOCATE = SITE "L15" LEVEL 1;
COMP "flash_a<18>" LOCATE = SITE "L20" LEVEL 1;
COMP "flash_a<19>" LOCATE = SITE "L21" LEVEL 1;
COMP "flash_d<10>" LOCATE = SITE "AH19" LEVEL 1;
COMP "flash_d<11>" LOCATE = SITE "AH20" LEVEL 1;
COMP "flash_d<12>" LOCATE = SITE "AG13" LEVEL 1;
COMP "flash_d<13>" LOCATE = SITE "AH12" LEVEL 1;
COMP "flash_d<14>" LOCATE = SITE "AH22" LEVEL 1;
COMP "flash_d<15>" LOCATE = SITE "AG22" LEVEL 1;
COMP "LCD_FPGA_DB4" LOCATE = SITE "T9" LEVEL 1;
COMP "LCD_FPGA_DB5" LOCATE = SITE "G7" LEVEL 1;
COMP "LCD_FPGA_DB6" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_FPGA_DB7" LOCATE = SITE "T11" LEVEL 1;
COMP "flash_adv_n" LOCATE = SITE "F13" LEVEL 1;
COMP "dvi_d<10>" LOCATE = SITE "AP14" LEVEL 1;
COMP "dvi_d<11>" LOCATE = SITE "AN14" LEVEL 1;
COMP "flash_clk" LOCATE = SITE "N9" LEVEL 1;
COMP "dvi_sda" LOCATE = SITE "T29" LEVEL 1;
COMP "dvi_scl" LOCATE = SITE "U27" LEVEL 1;
COMP "ac97_bitclk" LOCATE = SITE "AF18" LEVEL 1;
COMP "HDR2_2_SM_8_N" LOCATE = SITE "K34" LEVEL 1;
COMP "LCD_FPGA_E" LOCATE = SITE "AC9" LEVEL 1;
COMP "HDR2_4_SM_8_P" LOCATE = SITE "L34" LEVEL 1;
COMP "flash_a<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "flash_a<1>" LOCATE = SITE "K13" LEVEL 1;
COMP "flash_a<2>" LOCATE = SITE "H23" LEVEL 1;
COMP "flash_a<3>" LOCATE = SITE "G23" LEVEL 1;
COMP "flash_a<4>" LOCATE = SITE "H12" LEVEL 1;
COMP "flash_a<5>" LOCATE = SITE "J12" LEVEL 1;
COMP "flash_a<7>" LOCATE = SITE "K23" LEVEL 1;
COMP "flash_a<8>" LOCATE = SITE "K14" LEVEL 1;
COMP "flash_a<9>" LOCATE = SITE "L14" LEVEL 1;
COMP "flash_d<0>" LOCATE = SITE "AD19" LEVEL 1;
COMP "flash_d<1>" LOCATE = SITE "AE19" LEVEL 1;
COMP "flash_d<2>" LOCATE = SITE "AE17" LEVEL 1;
COMP "flash_d<3>" LOCATE = SITE "AF16" LEVEL 1;
COMP "flash_d<4>" LOCATE = SITE "AD20" LEVEL 1;
COMP "flash_d<5>" LOCATE = SITE "AE21" LEVEL 1;
COMP "flash_d<6>" LOCATE = SITE "AE16" LEVEL 1;
COMP "dvi_reset_b" LOCATE = SITE "AK6" LEVEL 1;
COMP "flash_d<7>" LOCATE = SITE "AF15" LEVEL 1;
COMP "flash_d<8>" LOCATE = SITE "AH13" LEVEL 1;
COMP "flash_d<9>" LOCATE = SITE "AH14" LEVEL 1;
COMP "HDR2_6_SM_7_N" LOCATE = SITE "K32" LEVEL 1;
COMP "flash_ce_n" LOCATE = SITE "AE14" LEVEL 1;
COMP "flash_oe_n" LOCATE = SITE "AF14" LEVEL 1;
COMP "ac97_sdata_out" LOCATE = SITE "AG16" LEVEL 1;
COMP "flash_we_n" LOCATE = SITE "AF20" LEVEL 1;
COMP "flash_wait" LOCATE = SITE "G13" LEVEL 1;
COMP "ac97_sync" LOCATE = SITE "AF19" LEVEL 1;
COMP "GPIO_DIP_SW1" LOCATE = SITE "U25" LEVEL 1;
COMP "GPIO_DIP_SW2" LOCATE = SITE "AG27" LEVEL 1;
COMP "GPIO_DIP_SW3" LOCATE = SITE "AF25" LEVEL 1;
COMP "GPIO_DIP_SW4" LOCATE = SITE "AF26" LEVEL 1;
COMP "GPIO_DIP_SW5" LOCATE = SITE "AE27" LEVEL 1;
COMP "GPIO_DIP_SW6" LOCATE = SITE "AE26" LEVEL 1;
COMP "GPIO_DIP_SW7" LOCATE = SITE "AC25" LEVEL 1;
COMP "GPIO_DIP_SW8" LOCATE = SITE "AC24" LEVEL 1;
COMP "dvi_d<0>" LOCATE = SITE "AB8" LEVEL 1;
COMP "dvi_d<1>" LOCATE = SITE "AC8" LEVEL 1;
COMP "dvi_d<2>" LOCATE = SITE "AN12" LEVEL 1;
COMP "dvi_d<3>" LOCATE = SITE "AP12" LEVEL 1;
COMP "dvi_d<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "dvi_d<5>" LOCATE = SITE "AA8" LEVEL 1;
COMP "dvi_d<6>" LOCATE = SITE "AM13" LEVEL 1;
COMP "dvi_d<7>" LOCATE = SITE "AN13" LEVEL 1;
COMP "dvi_d<8>" LOCATE = SITE "AA10" LEVEL 1;
COMP "dvi_d<9>" LOCATE = SITE "AB10" LEVEL 1;
COMP "GPIO_LED_0" LOCATE = SITE "H18" LEVEL 1;
COMP "GPIO_LED_1" LOCATE = SITE "L18" LEVEL 1;
COMP "GPIO_LED_2" LOCATE = SITE "G15" LEVEL 1;
COMP "GPIO_LED_3" LOCATE = SITE "AD26" LEVEL 1;
COMP "GPIO_LED_4" LOCATE = SITE "G16" LEVEL 1;
COMP "GPIO_LED_5" LOCATE = SITE "AD25" LEVEL 1;
COMP "GPIO_LED_6" LOCATE = SITE "AD24" LEVEL 1;
COMP "GPIO_LED_7" LOCATE = SITE "AE24" LEVEL 1;
COMP "GPIO_LED_C" LOCATE = SITE "E8" LEVEL 1;
COMP "GPIO_LED_E" LOCATE = SITE "AG23" LEVEL 1;
COMP "GPIO_LED_N" LOCATE = SITE "AF13" LEVEL 1;
COMP "GPIO_LED_S" LOCATE = SITE "AG12" LEVEL 1;
COMP "GPIO_LED_W" LOCATE = SITE "AF23" LEVEL 1;
COMP "dvi_de" LOCATE = SITE "AE8" LEVEL 1;
COMP "dvi_hs" LOCATE = SITE "AM12" LEVEL 1;
COMP "dvi_vs" LOCATE = SITE "AM11" LEVEL 1;
COMP "dvi_xclk_n" LOCATE = SITE "AL10" LEVEL 1;
COMP "dvi_xclk_p" LOCATE = SITE "AL11" LEVEL 1;
COMP "ac97_sdata_in" LOCATE = SITE "AE18" LEVEL 1;
COMP "GPIO_SW_C" LOCATE = SITE "AJ6" LEVEL 1;
COMP "GPIO_SW_E" LOCATE = SITE "AK7" LEVEL 1;
COMP "GPIO_SW_N" LOCATE = SITE "U8" LEVEL 1;
COMP "GPIO_SW_S" LOCATE = SITE "V8" LEVEL 1;
COMP "GPIO_SW_W" LOCATE = SITE "AJ7" LEVEL 1;
COMP "ac97_reset_b" LOCATE = SITE "AG17" LEVEL 1;
COMP "CLK_33MHZ_FPGA" LOCATE = SITE "AH17" LEVEL 1;
COMP "rotary_inc_a" LOCATE = SITE "AH30" LEVEL 1;
COMP "rotary_inc_b" LOCATE = SITE "AG30" LEVEL 1;
COMP "CLK_27MHZ_FPGA" LOCATE = SITE "AG18" LEVEL 1;
TIMEGRP ac97_bitclk = BEL "cont/statediv/counter_3" BEL
        "cont/statediv/counter_2" BEL "cont/statediv/counter_1" BEL
        "cont/statediv/counter_0" BEL "cont/clock_counter_17" BEL
        "cont/clock_counter_16" BEL "cont/clock_counter_15" BEL
        "cont/clock_counter_14" BEL "cont/clock_counter_13" BEL
        "cont/clock_counter_12" BEL "cont/clock_counter_11" BEL
        "cont/clock_counter_10" BEL "cont/clock_counter_9" BEL
        "cont/clock_counter_8" BEL "cont/clock_counter_7" BEL
        "cont/clock_counter_6" BEL "cont/clock_counter_5" BEL
        "cont/clock_counter_4" BEL "cont/clock_counter_3" BEL
        "cont/clock_counter_2" BEL "cont/clock_counter_1" BEL
        "cont/clock_counter_0" BEL "cont/state_15" BEL "cont/FF00_data_out_0"
        BEL "cont/FF00_data_out_1" BEL "cont/FF00_data_out_3" BEL
        "cont/FF00_data_out_2" BEL "cont/strobe" BEL "cont/cpu_r_l_up_dn_b"
        BEL "cont/cpu_a_b_sel_start_b" BEL "audio/gen/link/curbit_0" BEL
        "audio/gen/link/curbit_1" BEL "audio/gen/link/curbit_2" BEL
        "audio/gen/link/curbit_3" BEL "audio/gen/link/curbit_4" BEL
        "audio/gen/link/curbit_5" BEL "audio/gen/link/curbit_6" BEL
        "audio/gen/link/curbit_7" BEL "audio/gen/rot/level_0" BEL
        "audio/gen/rot/level_3" BEL "audio/gen/rot/level_1" BEL
        "audio/gen/rot/level_2" BEL "audio/gen/rot/state_FSM_FFd2" BEL
        "audio/gen/rot/state_FSM_FFd3" BEL "audio/gen/rot/state_FSM_FFd1" BEL
        "audio/regs/NR12_0" BEL "audio/regs/NR12_1" BEL "audio/regs/NR12_2"
        BEL "audio/regs/NR12_3" BEL "audio/regs/NR12_4" BEL
        "audio/regs/NR12_5" BEL "audio/regs/NR12_6" BEL "audio/regs/NR12_7"
        BEL "audio/regs/NR10_0" BEL "audio/regs/NR10_1" BEL
        "audio/regs/NR10_2" BEL "audio/regs/NR10_3" BEL "audio/regs/NR10_4"
        BEL "audio/regs/NR10_5" BEL "audio/regs/NR10_6" BEL
        "audio/regs/NR11_0" BEL "audio/regs/NR11_1" BEL "audio/regs/NR11_2"
        BEL "audio/regs/NR11_3" BEL "audio/regs/NR11_4" BEL
        "audio/regs/NR11_5" BEL "audio/regs/NR11_6" BEL "audio/regs/NR11_7"
        BEL "audio/regs/NR13_0" BEL "audio/regs/NR13_1" BEL
        "audio/regs/NR13_2" BEL "audio/regs/NR13_3" BEL "audio/regs/NR13_4"
        BEL "audio/regs/NR13_5" BEL "audio/regs/NR13_6" BEL
        "audio/regs/NR13_7" BEL "audio/regs/NR14_0" BEL "audio/regs/NR14_1"
        BEL "audio/regs/NR14_2" BEL "audio/regs/NR14_6" BEL
        "audio/regs/NR14_7" BEL "audio/regs/NR23_0" BEL "audio/regs/NR23_1"
        BEL "audio/regs/NR23_2" BEL "audio/regs/NR23_3" BEL
        "audio/regs/NR23_4" BEL "audio/regs/NR23_5" BEL "audio/regs/NR23_6"
        BEL "audio/regs/NR23_7" BEL "audio/regs/NR21_0" BEL
        "audio/regs/NR21_1" BEL "audio/regs/NR21_2" BEL "audio/regs/NR21_3"
        BEL "audio/regs/NR21_4" BEL "audio/regs/NR21_5" BEL
        "audio/regs/NR21_6" BEL "audio/regs/NR21_7" BEL "audio/regs/NR22_0"
        BEL "audio/regs/NR22_1" BEL "audio/regs/NR22_2" BEL
        "audio/regs/NR22_3" BEL "audio/regs/NR22_4" BEL "audio/regs/NR22_5"
        BEL "audio/regs/NR22_6" BEL "audio/regs/NR22_7" BEL
        "audio/regs/NR24_0" BEL "audio/regs/NR24_1" BEL "audio/regs/NR24_2"
        BEL "audio/regs/NR24_6" BEL "audio/regs/NR24_7" BEL
        "audio/regs/NR33_0" BEL "audio/regs/NR33_1" BEL "audio/regs/NR33_2"
        BEL "audio/regs/NR33_3" BEL "audio/regs/NR33_4" BEL
        "audio/regs/NR33_5" BEL "audio/regs/NR33_6" BEL "audio/regs/NR33_7"
        BEL "audio/regs/NR31_0" BEL "audio/regs/NR31_1" BEL
        "audio/regs/NR31_2" BEL "audio/regs/NR31_3" BEL "audio/regs/NR31_4"
        BEL "audio/regs/NR31_5" BEL "audio/regs/NR31_6" BEL
        "audio/regs/NR31_7" BEL "audio/regs/NR32_5" BEL "audio/regs/NR32_6"
        BEL "audio/regs/NR34_0" BEL "audio/regs/NR34_1" BEL
        "audio/regs/NR34_2" BEL "audio/regs/NR34_6" BEL "audio/regs/NR34_7"
        BEL "audio/regs/WR30_1" BEL "audio/regs/WR30_2" BEL
        "audio/regs/WR30_3" BEL "audio/regs/WR30_5" BEL "audio/regs/WR30_6"
        BEL "audio/regs/WR30_7" BEL "audio/regs/WR31_1" BEL
        "audio/regs/WR31_2" BEL "audio/regs/WR31_3" BEL "audio/regs/WR31_5"
        BEL "audio/regs/WR31_6" BEL "audio/regs/WR31_7" BEL
        "audio/regs/WR32_1" BEL "audio/regs/WR32_2" BEL "audio/regs/WR32_3"
        BEL "audio/regs/WR32_5" BEL "audio/regs/WR32_6" BEL
        "audio/regs/WR32_7" BEL "audio/regs/WR33_1" BEL "audio/regs/WR33_2"
        BEL "audio/regs/WR33_3" BEL "audio/regs/WR33_5" BEL
        "audio/regs/WR33_6" BEL "audio/regs/WR33_7" BEL "audio/regs/WR34_1"
        BEL "audio/regs/WR34_2" BEL "audio/regs/WR34_3" BEL
        "audio/regs/WR34_5" BEL "audio/regs/WR34_6" BEL "audio/regs/WR34_7"
        BEL "audio/regs/WR37_1" BEL "audio/regs/WR37_2" BEL
        "audio/regs/WR37_3" BEL "audio/regs/WR37_5" BEL "audio/regs/WR37_6"
        BEL "audio/regs/WR37_7" BEL "audio/regs/WR35_1" BEL
        "audio/regs/WR35_2" BEL "audio/regs/WR35_3" BEL "audio/regs/WR35_5"
        BEL "audio/regs/WR35_6" BEL "audio/regs/WR35_7" BEL
        "audio/regs/WR36_1" BEL "audio/regs/WR36_2" BEL "audio/regs/WR36_3"
        BEL "audio/regs/WR36_5" BEL "audio/regs/WR36_6" BEL
        "audio/regs/WR36_7" BEL "audio/regs/WR38_1" BEL "audio/regs/WR38_2"
        BEL "audio/regs/WR38_3" BEL "audio/regs/WR38_5" BEL
        "audio/regs/WR38_6" BEL "audio/regs/WR38_7" BEL "audio/regs/WR39_1"
        BEL "audio/regs/WR39_2" BEL "audio/regs/WR39_3" BEL
        "audio/regs/WR39_5" BEL "audio/regs/WR39_6" BEL "audio/regs/WR39_7"
        BEL "audio/regs/WR3A_1" BEL "audio/regs/WR3A_2" BEL
        "audio/regs/WR3A_3" BEL "audio/regs/WR3A_5" BEL "audio/regs/WR3A_6"
        BEL "audio/regs/WR3A_7" BEL "audio/regs/WR3B_1" BEL
        "audio/regs/WR3B_2" BEL "audio/regs/WR3B_3" BEL "audio/regs/WR3B_5"
        BEL "audio/regs/WR3B_6" BEL "audio/regs/WR3B_7" BEL
        "audio/regs/WR3C_1" BEL "audio/regs/WR3C_2" BEL "audio/regs/WR3C_3"
        BEL "audio/regs/WR3C_5" BEL "audio/regs/WR3C_6" BEL
        "audio/regs/WR3C_7" BEL "audio/regs/WR3D_1" BEL "audio/regs/WR3D_2"
        BEL "audio/regs/WR3D_3" BEL "audio/regs/WR3D_5" BEL
        "audio/regs/WR3D_6" BEL "audio/regs/WR3D_7" BEL "audio/regs/WR3E_1"
        BEL "audio/regs/WR3E_2" BEL "audio/regs/WR3E_3" BEL
        "audio/regs/WR3E_5" BEL "audio/regs/WR3E_6" BEL "audio/regs/WR3E_7"
        BEL "audio/regs/WR3F_1" BEL "audio/regs/WR3F_2" BEL
        "audio/regs/WR3F_3" BEL "audio/regs/WR3F_5" BEL "audio/regs/WR3F_6"
        BEL "audio/regs/WR3F_7" BEL "audio/regs/NR51_0" BEL
        "audio/regs/NR51_1" BEL "audio/regs/NR51_2" BEL "audio/regs/NR51_4"
        BEL "audio/regs/NR51_5" BEL "audio/regs/NR51_6" BEL
        "audio/gen/conf/state_FSM_FFd1" BEL "audio/gen/conf/state_FSM_FFd3"
        BEL "audio/gen/conf/state_FSM_FFd2" BEL "audio/freq3div/counter_6" BEL
        "audio/freq3div/counter_5" BEL "audio/freq3div/counter_4" BEL
        "audio/freq3div/counter_3" BEL "audio/freq3div/counter_2" BEL
        "audio/freq3div/counter_1" BEL "audio/freq3div/counter_0" BEL
        "audio/freq12div/counter_5" BEL "audio/freq12div/counter_4" BEL
        "audio/freq12div/counter_3" BEL "audio/freq12div/counter_2" BEL
        "audio/freq12div/counter_1" BEL "audio/freq12div/counter_0" BEL
        "audio/framediv/counter_14" BEL "audio/framediv/counter_13" BEL
        "audio/framediv/counter_12" BEL "audio/framediv/counter_11" BEL
        "audio/framediv/counter_10" BEL "audio/framediv/counter_9" BEL
        "audio/framediv/counter_8" BEL "audio/framediv/counter_7" BEL
        "audio/framediv/counter_6" BEL "audio/framediv/counter_5" BEL
        "audio/framediv/counter_4" BEL "audio/framediv/counter_3" BEL
        "audio/framediv/counter_2" BEL "audio/framediv/counter_1" BEL
        "audio/framediv/counter_0" BEL "cont/state_14" BEL "cont/state_13" BEL
        "cont/state_12" BEL "cont/state_11" BEL "cont/state_10" BEL
        "cont/state_9" BEL "cont/state_8" BEL "cont/state_7" BEL
        "cont/state_6" BEL "cont/state_5" BEL "cont/state_4" BEL
        "cont/state_3" BEL "cont/state_2" BEL "cont/state_1" BEL
        "cont/state_0" BEL "audio/regs/NR30_7" BEL "audio/regs/NR52_7" BEL
        "cont/statediv/clock_out" BEL "audio/freq3div/clock_out" BEL
        "audio/freq12div/clock_out" BEL "audio/framediv/clock_out" BEL
        "ac97_bitclk_BUFGP/BUFG";
TS_ac97_bitclk = PERIOD TIMEGRP "ac97_bitclk" 12.288 MHz HIGH 50%;
SCHEMATIC END;

